---
## Clang formatting that fits my coding style.

# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: LLVM

IndentWidth: 4

# Must be 100 characters or less!
ColumnLimit: 100

# does (int) x instead of (int)x
SpaceAfterCStyleCast: true

# spaces, not tabs!
UseTab: Never
# if (x) doStuff()  is not allowed, bad style
AllowShortIfStatementsOnASingleLine: false

AlignTrailingComments: true
SpacesBeforeTrailingComments: 3

#  #define SHORT_NAME       42
#  #define LONGER_NAME      0x007f   # Nice spacing for macros
AlignConsecutiveMacros: Consecutive

# Specify placement of braces (if/else/while/for/...)
BreakBeforeBraces: Allman

# Force break after template delectation so that it is above the deceleration not next to it.
AlwaysBreakTemplateDeclarations: true
